snippet irv
	raise ActiveRecord::IrreversibleMigration

snippet Org
	Organization.for(${1}) do
		${2}
	end

snippet arlog
	ActiveRecord::Base.logger = Logger.new($stdout)

snippet log
	Logger.new($stdout)

snippet cell
	# Name: ${1}
	# Cell: ${2}

snippet col
	# Name: ${1}
	# Col:  ${2}

snippet nimpl
	raise NotImplementedError

snippet sep
	# ------------------------------------------------------------------------
